.dashboard-card {
  background-color: #B3C8CF;
  padding: 18px 16px;
  border-radius: 18px;
  text-align: center;
  width: 200px;
  height: 200px;  
  margin: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.dashboard-card:hover {
  transform: scale(1.04);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.icon {
  font-size: 50px; 
  margin-top: 20px;
  margin-bottom: 20px;

}

.text p {
  font-weight: 500;
  font-style: italic;
  margin: 0;
  font-size: 20px;
}

.text h3 {
  font-size: 18px;
  margin-top: 4px;
}