/* src/components/Navbar.css */
.navbar {
  background-color: #89A8B2;
  padding: 15px 30px;
  display: flex;
  font-family: 'Segoe UI', sans-serif;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin: 20px;
}

.navbar-title {
  font-size: 20px;
  color: white;
  font-family: serif;
  font-weight: 600;
}

.logout-btn {
  background-color: #B3C8CF;
  color: #333;
  border: none;
  padding: 10px 25px;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.logout-btn:hover {
  background-color: #A3B8BF;
  transform: scale(1.05);
}