body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  background-color: #89A8B2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: #B3C8CF;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  width: 320px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.login-title {
  font-style: italic;
  font-size: 24px;
  margin-bottom: 25px;
  color: white;
}

.input-group {
  position: relative;
  margin: 20px 0;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: black;
  font-size: 16px;
}

.input-field {
  width: 100%;
  padding: 12px 40px 12px 38px; 
  border-radius: 10px;
  border: none;
  background-color: #eceae4;
  font-style: italic;
  font-weight: bold;
  box-sizing: border-box;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  color: black;
  font-size: 16px;
}

.forgot-password {
  font-style: italic;
  font-size: 13px;
  text-align: right;
  margin-bottom: 20px;
  color: white;
  cursor: pointer;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #004eff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  font-style: italic;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #003ecc;
}